[2015-02-20 20:48] btgarner opened #1 "System cannot find Antumbra Device"
Followed directions on https://github.com/TeamAntumbra/wintumbra/blob/master/README.md ; Antumbra device was listed under USB (not Other), did as directed.  Started antumbra.exe process, clicking any option in the status bar gets a "No Devices were found" error.

running Win7 Home Premium SP1
Processor: Inel i7 CPU Q740 @ 1.73 GHz
Ram: 8 GB
64 bit OS

Will try on win 8.1 system

[2015-02-20 20:52] walshie4 commented on #1
Have you tried the most recent release? There is a driver installer inside the output directory under `driver/`.

[2015-02-20 20:56] btgarner commented on #1
this is from the drivers that I get directed to going to antumbra.io/beta

on win 8.1, the drivers will not install either.  Get a dialog box that says:

Windows found driver software for your device, but encountered an error while attempting to install it.
Glow
The third-party INF does not contain digital signature information
If you know the manufacturer of your device, you can visit its website

[2015-02-20 21:00] walshie4 commented on #1
Try [this](https://github.com/TeamAntumbra/wintumbra/releases/tag/V0.1.3-beta) version. You'll need to copy the two .dll files into the output directory from the setup.exe, then a driver installer will be inside a `driver/` directory.

[2015-02-20 21:06] btgarner commented on #1
Despite the error, the antumbra software does seem to see the device on the 8.1 machine.  However it does not seem to do anything.  I am just getting a soft faint green glow from the device.  Output speeds for dev0 are 8.553 hz; there is also a dev1 device with 0 hz output speed.  Any changes do not seem to affect the hardware.

[2015-02-20 21:10] walshie4 commented on #1
Have you tried quitting the software, unplugging and re-plugging and then re-starting the software?

[2015-02-20 21:36] btgarner commented on #1
Pretty much the same response.

After loading that other installer and dev driver.  Launching the antumbra exe, still no device according to all parts of the app.  And the antumbra is just glowing with a faint green glow.

[2015-02-20 21:38] walshie4 commented on #1
Try turning off windows signed drivers only policy (at the moment ours is not signed, will be soon) as shown [here](http://www.craftedge.com/tutorials/driver_install_windows8/driver_install_win8.html). Then re-run the driverInstaller and see if that fixes it.

[2015-02-20 21:56] walshie4 commented on #1
It also may help your case to use [this tool](http://zadig.akeo.ie/) to install the WinUSB driver for the Glow Device. Just plug in your Glow, open up the tool, select options -> List all devices, and then find your Glow in the top drop down box. Select WinUSB below, and click the big install button.

[2015-02-20 22:51] btgarner commented on #1
the Zadig tool made no difference on the W7 machine.  And re-installing on the W8.1 machine with the unsigned drivers also made no difference on that machine.  I have one other Win8.1 machien I can try this on.

[2015-02-21 00:38] walshie4 commented on #1
Try downloading the `.inf` file that's hosted with the download Then right click on it and select install.

[2015-02-21 01:28] btgarner commented on #1
![ant_error](https://cloud.githubusercontent.com/assets/9194420/6312194/fbac6618-b93e-11e4-8768-f27d53e39b40.png)

[2015-02-21 02:39] walshie4 commented on #1
I was referring to [this `.inf` file](https://github.com/TeamAntumbra/wintumbra/releases/download/V0.1.3-beta/antumbraglowv3beta.inf) which should support installing through the right click menu. Is that the one you tried to install above?

[2015-02-21 02:54] btgarner commented on #1
It was not, but now I have, and it is not behaving any differently.
![ant_err2](https://cloud.githubusercontent.com/assets/9194420/6312552/09a3476c-b94b-11e4-8a98-1d072267dd62.png)

[2015-02-21 13:32] walshie4 commented on #1
Try downloading the new driver installer [here](https://www.dropbox.com/s/brerdk5mqstf5eu/glowdrvinst.zip?dl=0).  Just double click glowdrvinst.exe and it will install WinUSB for Glow if it's not already associated with a driver (so go to Device Manager and Uninstall + check "Delete driver software")
if it is already associated with a driver, i.e. it has already been installed, it will do nothing.

[2015-02-21 14:15] walshie4 commented on #1
Just posted a new release. Try following the new install instructions (including uninstalling the old driver) and let me know how that goes.

[2015-02-21 15:18] btgarner commented on #1
Same result "No devices were found" on the Win7 machine

[2015-02-21 15:24] walshie4 commented on #1
And just to be clear you're also unplugging and plugging back in your device, as well as restarting the app?

[2015-02-21 17:47] btgarner commented on #1
Yes, I have even rebooted a few times, all to no avail.  =(

[2015-02-21 17:49] walshie4 commented on #1
Try deleting all Antumbra software including the driver through device manager and then reinstall the latest release.

[2015-02-21 20:03] btgarner commented on #1
Deleted everything, uninstalled drivers from the DevMgr, uninstalled all programs available in the control panel.  Downloaded the new setup, ran it.  Plugged in device, got this:

![ant_err3](https://cloud.githubusercontent.com/assets/9194420/6315759/85d21b8a-b9da-11e4-9df8-a5e342fdd2ff.png)

Went into the DriverInstall directory, and ran glowdrvinst manually.  Unplugged device, then plugged it ba

[2015-02-21 20:35] walshie4 commented on #1
When you go into device manager what does Glow show up under, and as?

[2015-02-21 20:53] btgarner commented on #1
Okay, I was able to get the new setup run on the other win8 machine, and it installed just fine, and then ran the application.  It behaves just like the other Win8 machine, I just get a soft green glow from the device.  Is this what I should be seeing?

![2015-02-21 15 14 51](https://cloud.githubusercontent.com/assets/9194420/6315990/d079708c-b9e1-11e4-820d-12447280ba5e.jpg)

[2015-02-21 20:59] walshie4 commented on #1
The green glow means that the device has started up successfully. Without unplugging the Glow click on the little A, select quit. And then re-run `Antumbra.exe`. Once running once again select start, and see if the color changes.

[2015-02-21 22:30] btgarner commented on #1
Okay. I plugged the Device into a power USB hub (rather than directly), and it worked, but plugging it back into the laptop (directly) does not work.  I have repeated this process several times, and it is fairly consistent.  Plugged into a powered hub works fine, plugged directly into the laptop and it does not work.

[2015-02-21 22:38] DavisFoster commented on #1
Hey - sounds like this could be a strange edge-case hardware issue.

Just clarifying a few things:
-A soft green glow means the firmware boot was successful, and the Glow should be ready to talk to a computer.  If you AREN'T getting a green glow when plugged into certain computers, this likely means that either:  A.  USB power regulation on that computer is bad, causing the device to fail, B.  the

[2015-02-21 23:20] btgarner commented on #1
I saw the latter, where the soft green glow was visible from both the laptop and the hub, but the application only recognized the device via the powered hub, and thus I could only see changes in colors via the powered hub.

I am willing to do whatever you need to help figure this out (for science!), and since we seem to have a clearer path as to the problem, that's a step in the right direction.

[2015-02-21 23:27] DavisFoster commented on #1
Try unplugging the hub and plugging Glow back into the same USB port that hub was plugged into.  Restart the app and try again.  This will rule out the other USB ports as being dead.

If that doesn't work, try a couple different microUSB cables if you have them - the 6ft one might be too long to be driven from your computer (either due to voltage drop or weak data drivers).

If it still doesn't wo

[2015-02-22 00:08] btgarner commented on #1
My laptop has a lot of USB ports.  I tried the Antumbra directly into 4 separate USB ports (including the one the hub was plugged into), and could not get any response from the device, other than the green glow.  I tried a separate cable, and that would not work, even on the powered hub.

And yes, this is what I was seeing on the Win8 machines (2 of them), I would see a device listed, but the unti

[2015-02-22 20:48] DavisFoster commented on #1
Great news - I was able to replicate the bug on a Win8 system, and think I know how to fix it.
1.  Quit all glow software.
2.  Uninstall all current glow software.
3.  Download the latest build.
4.  PLUG IN GLOW, then install using the setup installer.
   --Test it here - if it works, great.  If not ---
5.  In the top level directory (should be "Antumbra"), find the folder DriverInstaller and run

[2015-02-22 21:45] btgarner commented on #1
Um, well, that did not work.  I uninstalled the software and drivers.  Then used the new setup, installed the driver(s).  Launched the application.  All I am getting now is a soft blue glow from the device.

[2015-02-22 22:05] DavisFoster commented on #1
Did you install everything with the device plugged in?  It will not work otherwise.

Soft blue glow means that the device is in bootloader mode and ready to accept new code - this is because is saw a signal on the MOSI pin - (this is an odd error).  Try unplugging the device, plugging it in again (should be green), and then running Antumbra and hitting Start.

If that doesn't work, uninstall every

[2015-02-23 15:02] ghost opened #2 "Issues with lock screen and sleep mode"
Two issues to report here (Windows 8.1):

1) After I have Antumbra device up and running fine, if I lock the session and then unlock it, the application is no longer running and the colors don't update.  I have to go back in and restart the exe in order for things to work again.

2) If I put my machine in sleep mode, the Antumbra device illumination stays lit.

[2015-02-23 16:39] walshie4 commented on #2
These issues have been fixed in the [most recent release](https://github.com/TeamAntumbra/wintumbra/releases/tag/V0.1.10-beta). Thank you for reporting them!

[2015-02-23 22:25] DavisFoster commented on #1
@btgarner  - Any luck?  It seems like you're the only one currently this bug, so we're trying to figure out what edge-case might be causing it (and get it cleaned up).

[2015-02-23 23:50] btgarner commented on #1
I removed everything from the Win 8 machine, then grabbed the latest setup.  Installed it and launched the new application (notice that teh driver was not needed as a separate install, nice).  However the result was the same, just the dull green glow.  So I tried the trick that made the device work on my Win7 machine, plugging it into a powered USB hub, and it fired right up, as expected.

So, for

[2015-02-23 23:56] DavisFoster commented on #1
Huh - that's a VERY strange failure, especially with two different PCs from two different manufacturers.  We've had no issues (aside from software bugs) getting any of our devices to talk to any of our machines (multiple different PCs and Macs, laptops and desktops, etc).  Doesn't seem like any other users are experiencing this problem either.

I don't mean to sound like a broken record, but try t

[2015-02-24 00:25] btgarner commented on #1
I have a 7+ year old MBP, that I might be able to resurrect and test on.  Its not a great machine, and shows its age, so I am not sure how valid of a test that will be.  I also hava a Hackintosh (Dell Mini) that I can try it on, but again, have no idea how great of a test that is.

[2015-02-24 00:27] DavisFoster commented on #1
Don't bother with the old MBP, we require 10.7+ for our software, which you almost certainly aren't running.  If the hackintosh is (mostly) up to date, I'd give it a shot there - our Mac dev did plenty of work on Antumbra with his hackintosh.

[2015-02-24 00:43] ghost commented on #2
Both of these issues are still present following upgrade to 1.2.6.0.

Windows 8.1, x64
Intel Core i7
16GB mem
ATI Radeon HD 4800

[2015-02-24 00:46] walshie4 commented on #2
Where are you getting version 1.2.6.0?

[2015-02-24 00:47] ghost opened #3 "Antumbra notification window"
Antumbra notifcation window doesn't play nice with the Windows 8.1 notification window.  When Antumbra window is in front of 8.1, and I click in the area of overlap, the 8.1 windows comes in front, as shown.

![image](https://cloud.githubusercontent.com/assets/11161061/6341064/6647bcaa-bb94-11e4-933b-270dcce05bb9.png)

[2015-02-24 00:58] ghost commented on #2
Ah, disregard, I had upgraded but not to the latest/greatest.  After 1.14.0, confirmed that putting computer to sleep turns off the Glow.  (1.2.6.0 errantly pulled from Glow driver number in Device Mgr... apologies.)

[2015-02-24 00:58] #2 closed, assigned to nobody

[2015-02-24 00:59] walshie4 commented on #2
Good to hear it's working now. :)

[2015-02-24 01:14] walshie4 commented on #3
Try [V0.1.16-beta](https://github.com/TeamAntumbra/wintumbra/releases/tag/V0.1.16-beta), should fix it.

[2015-02-24 01:19] ghost commented on #3
Looks good!

[2015-02-24 01:21] walshie4 commented on #3
Still happens on occasion. :/

[2015-02-24 01:42] Austinh100 opened #4 "Window overlay"
Upon opening any of the settings windows with the gear icon the window appears above the main window. When you mouse over the new window it gets forced behind the main window.

This, strangely, appears to be slightly delayed in some cases.

[2015-02-24 02:10] walshie4 commented on #4
Should be fixed in [V0.1.17](https://github.com/TeamAntumbra/wintumbra/releases/tag/V0.1.17-beta).

[2015-02-24 02:40] DavisFoster commented on #3
@walshie4 - This was happening with v0.1.15 on Windows 8 for me yesterday.

[2015-02-24 02:45] walshie4 commented on #3
@DavisFoster  try v0.1.16 (or later) it has the partial fix.

[2015-02-24 04:08] #4 closed, assigned to nobody

[2015-02-24 04:20] Austinh100 opened #5 "Fast switching drivers"
Switching through all of the different drivers, through sin fade, (hitting start after it starts stopping the device) it appears to get stuck on the "Example Glow Driver" after a bit (observed on the glow not in the actual interface) and if you then select the "Color Clock" and then the default "Glow Screen Driver Coupler" you will get this error:

*************\* Exception Text **************
Sys

[2015-02-24 14:16] btgarner commented on #1
The Dell Mini Hackintosh is not running anything current (10.5, maybe 10.6).  I do have a Win 8 tablet that I can try this on, but have no other Mac hardware.

[2015-02-24 21:48] DavisFoster commented on #1
Give it a shot on the Win8 tablet.  If you are confident that your test procedure (the order you plug things in, start software, start glow, etc) is the same with / without the USB hub, and it fails on every device without the USB hub, we'd be glad to take the device back and get you a new one.

[2015-02-26 23:05] alystair opened #6 "Sorting settings by ID or Enabled status causes exception (out of range)"
See the end of this message for details on invoking
just-in-time (JIT) debugging instead of this dialog box.

*************\* Exception Text **************
System.ArgumentOutOfRangeException: Index was out of range. Must be non-negative and less than the size of the collection.
Parameter name: index
   at System.Collections.ArrayList.get_Item(Int32 index)
   at System.Windows.Forms.DataGridViewRow

[2015-02-27 00:13] DavisFoster commented on #1
@btgarner  - Any updates?  We'd love to take a look at your unit if it still isn't working.  This (could be) a bug that can't make it into the production rev.  Thanks!

[2015-02-27 02:22] btgarner commented on #1
nothing yet.  was without power for over a day due to that storm, tomorrow I will give it a try

[2015-02-27 03:30] CreamyG31337 opened #7 "should not be able to start multiple instances of app"
if it's already running, either terminate the previous instance or display a message and quit.

[2015-02-27 03:36] CreamyG31337 opened #8 "Save chosen extensions and settings, add reset to default button"
Application should remember enabled plugins and plugin settings. Once this is done please add a way to reset back to the defaults in case of a problem.

[2015-02-27 03:37] CreamyG31337 opened #9 "Descriptions are cut off"
Settings grid description field often have the bottom line of text cut off slightly

[2015-02-27 03:39] CreamyG31337 opened #10 "Direct3D capture should not crash when mandatory settings are not entered"
If you enable Direct3D capture and press start the application will become unresponsive. Clicking settings and entering an exe to monitor resolves this.

[2015-02-27 03:40] alystair commented on #10
Ironically it also crashes for me if I attempt putting in a proper executable.

[2015-02-27 03:47] CreamyG31337 commented on #10
That's weird. I am not surprised, though. Mine doesn't crash once I put the exe, but it doesn't actually capture anything either. There's so many bugs I'm not sure why they gave us a tracker. Surely they don't need help finding bugs. Just click anything, it will probably crash. :(

[2015-02-27 03:52] CreamyG31337 commented on #10
One other thing related to this, entering anything into the 'process to capture' field also results in the same behavior if the exe is not valid and running already when you press start, so:
1) put an OK button and validate the file exists when clicking that
and consider for the future:
2) put a browse button and allow user to select a file
3) put another button to select a running process
4) save

[2015-02-27 04:01] CreamyG31337 opened #11 "application crash when direct3d capture fails to init and you press start/stop"
I put the exe I want to capture, I start the exe, I press start. Everything looks fine except LED is off. If I then press stop or start I get:

System.NullReferenceException: Object reference not set to an instance of an object.
   at DirectXScreenCapture.Direct3DCapture.Stop()
   at Antumbra.Glow.ExtensionFramework.GlowScreenDriverCoupler.Stop()
   at Antumbra.Glow.ExtensionFramework.ExtensionMan

[2015-02-27 14:46] #6 closed, assigned to walshie4

[2015-02-27 15:06] walshie4 commented on #11
Fixed in 02106c897dff3544f1ec873f386ee5251e6680c8 will now return message of extensions not starting correctly. Soon to also send message from extension who failed with said exception. Will close once that has been implemented and pushed.

[2015-02-27 16:04] #7 closed, assigned to walshie4

[2015-02-27 16:26] walshie4 commented on #5
Should be fixed by the above commit, I'll close it later when I push an update with this fix.

[2015-02-27 19:50] btgarner commented on #1
I have tried everything I can think of with the Win8 tablet, and cannot get it to work.  I tried directly (green glow).  Tried a USB hub that powered and had nothing else in it (green glow).  Then I tried the hub that has been working with the other machines, nothing, still just the green glow.

[2015-02-27 20:59] walshie4 commented on #8
Partially fixed in [V0.1.19](https://github.com/TeamAntumbra/wintumbra/releases/tag/V0.1.19-beta) extensions that have custom settings retain them after clicking save. Will close after implementing remembering enabled plugins, core settings, and reset feature.

[2015-02-27 21:00] walshie4 commented on #5
Should be fixed in [V0.1.19](https://github.com/TeamAntumbra/wintumbra/releases/tag/V0.1.19-beta).

[2015-02-27 21:00] #5 closed, assigned to walshie4

[2015-02-27 21:01] walshie4 commented on #3
Seems to be fixed, can no longer reproduce.

[2015-02-28 00:44] DavisFoster commented on #1
Shoot me an email at davis@antumbra.io - we'll take the unit back to try and diagnose any problems, and then ship a new working unit back to you.  Still not sure what is actually causing the problem here - hopefully we can get it diagnosed and fixed ASAP.

[2015-02-28 00:45] #1 closed, assigned to DavisFoster

[2015-03-01 00:03] DavisFoster opened #12 "Crash upon Glow start post sleep / lock wakeup"
After resuming from lock / sleep on Win7, the application doesn't automatically restart Glows, and upon attempting to manually start, crashes.  Attempting to ignore the exception causes the application to hang.

*************\* Exception Text **************
System.ObjectDisposedException: The task has been disposed.
   at System.Threading.Tasks.Task.ThrowIfDisposed()
   at System.Threading.Tasks.T

[2015-03-01 00:07] DavisFoster commented on #3
Issue still present in 0.1.19 on Windows 7.

[2015-03-01 22:29] walshie4 commented on #10
Direct3D capture plugin now will automatically find the foreground process, as of 27abde017d4829a98e1b0b7da177efbc09c05835. Expect this extension to be receiving a _lot_ of attention once core stability and usability issues are cured.

[2015-03-01 22:29] #10 closed, assigned to walshie4

[2015-03-01 22:30] walshie4 commented on #12
Should be fixed as of 4e017526f777ac07d474e95ce5d273d59826a14a.

[2015-03-01 22:30] #12 closed, assigned to nobody

[2015-03-02 00:55] #9 closed, assigned to walshie4

[2015-03-02 05:10] DavisFoster opened #13 "App hang when attempting to apply driver settings and start glow."
Steps to reproduce on Windows 7:
1.  Hit start glows (successful)
2.  Go to settings
3.  Hit "Apply Driver Recommended Settings"
4.  Hit Start

Result is an unhandled exception that cannot be recovered from.

*************\* Exception Text **************
System.ObjectDisposedException: The task has been disposed.
   at System.Threading.Tasks.Task.ThrowIfDisposed()
   at System.Threading.Tasks.Task

[2015-03-02 05:28] #13 closed, assigned to nobody

[2015-03-03 03:01] walshie4 commented on #11
Extensions can now send messages directly to the user via toolbar notification or directly to the logger.

[2015-03-03 03:01] #11 closed, assigned to walshie4

[2015-03-06 00:29] alystair opened #14 "base color tweaker needed"
One of the primary problems I find with the Antumbra at the moment is that the base color is not "pure white", if we could get a primitive tool to adjust the base values to a "pure" white pre-process I think the end results would look a lot nicer.

[2015-03-06 00:31] alystair opened #15 "Settings menu persists after losing mouse focus"
Menu should close once focus is lost, at the moment I am typing this report and the menu is still visible.
![antumbra_focus](https://cloud.githubusercontent.com/assets/159109/6518267/7094073c-c372-11e4-861a-9e4acd4aa1f8.gif)

[2015-03-06 01:23] alystair opened #16 "Menu should open on right click (or whatever system pref is for left/mouse button)"
It's counterintuitive to have the menu appear on left click, when pretty much all other taskbar related icons are right click activated.

[2015-03-06 05:14] #15 closed, assigned to walshie4

[2015-03-06 05:14] #16 closed, assigned to walshie4

[2015-03-09 23:15] DavisFoster commented on #14
Strategy add:

Blue-yellow bias slider, and green-magenta bias slider.  These values should be multipliers that automatically shift all values before they hit the output (decorator).  White balance is only really necessary in the range where R,G,B are all within 30/255 from each other, so if it's problematic, cases where this isn't true can be automatically passed through without tweaks.

[2015-03-19 15:48] walshie4 commented on #3
No longer relevant as mentioned in above commit, will close after pushing release with fix (probably later on today).

[2015-03-26 21:33] #3 closed, assigned to walshie4

[2015-03-26 21:34] walshie4 commented on #8
A simple version of this feature is now available in V0.2.0.  Being able to name saved configs under a custom name and list saved setting configs will be implemented soon.

[2015-03-26 21:34] #8 closed, assigned to walshie4

[2015-03-27 22:01] walshie4 commented on #14
Starting in [V0.2.1-beta](https://github.com/TeamAntumbra/wintumbra/releases/tag/v0.2.1-beta) there is now a white balancer which will bias output colors per your settings. Please see the release notes for an overview of how it works.

[2015-03-27 22:01] #14 closed, assigned to walshie4

[2015-04-03 18:38] alystair opened #17 "Why not use the wheel interface for white calibration?"
It took me a whole of 3 seconds to find the "true white" spot dragging the center point around on the color wheel, while it's been more than 3 minutes of me "hand tweaking" to try and get the same values.

From a UX perspective during initial setup of a device, using the wheel method would be ideal.

[2015-04-03 19:11] walshie4 commented on #17
Good idea!

[2015-04-03 20:29] walshie4 commented on #17
See release [V0.2.2-beta](https://github.com/TeamAntumbra/wintumbra/releases/tag/V0.2.2-beta) which implements this change.

[2015-04-03 20:29] #17 closed, assigned to walshie4

[2015-04-03 21:16] alystair opened #18 "Setting new capture size doesn't resume previous mode after closing window - LED stays red"
When opening the "capture size" dialog the LED goes pure red and does not return to standard operation until a mode is selected. Previous mode should be resumed after closing dialog.

[2015-04-03 21:46] #18 closed, assigned to nobody

[2015-06-21 18:45] eedwardsdisco opened #19 "Multi-monitor Game Mirroring & Mirroring Performance"
0.2.7.1
Windows 8.1
GTX 670 SLI
Dual Monitor (1440p \ 1080p)
Using 2 Glows

Enabling Glow using methods other than 'Game' creates a significant 'stutter' in responsiveness of applications and moving windows around. It seems as the engine samples the screen it creates latency.

Game mode still has some latency but it's severely minimized compared to other modes (e.g. Augment).

I also notice some r

[2015-06-21 18:48] eedwardsdisco opened #20 "Application Crash when Loading"
0.2.7.1
Windows 8.1
Two Glows

Clicking 'Load' in advanced settings results in an exception.

[code]

[2015-06-21 18:49] eedwardsdisco opened #21 "Clicking 'Save' Results in Exception"
0.2.7.1
Windows 8.1
Two Glows

If the drop-down boxes in the first page of the advanced settings dialog box are not populated (which seems to happen automatically after re-loading the application after crash from issue #20), an exception is thrown when clicking 'Save'

[code]

[2015-06-22 02:18] DavisFoster commented on #19
Hardware engineer here - can't speak to the software bugs, but I might be able to shed some light on the audible PSU noise.  Typically coil whine is caused by magnetostriction, where the physical size of the inductor core material is changing as the fields through it collapse.  Current draw in the audible range (60hz to 18khz, give or take) is the culprit here - well below the frequency that our g

[2015-06-22 23:55] walshie4 commented on #20
Because of the rush to get the 'simple' UI and operating modes running this is likely caused because of the advanced mode has fallen behind in its workings.  The features of this window will be implemented on the custom tab in place of the advanced window that exists now.

[2015-06-23 00:21] walshie4 commented on #19
This is partially caused because Windows 8's GDI+ performance is lower than that of 7.  However it is also partially caused because right now the capture processes are working totally independently.  We will be releasing an update soon which will optimize this process and hopefully resolve your issues.

[2015-06-25 19:22] eedwardsdisco commented on #19
@DavisFoster Thanks for your comment regarding the DC-DC converter. I wouldn't doubt that is the issue. I also tried my USB3 ports since those tend to go through a different controller, and USB3 has more headroom for power delivery, but for some reason the Glow's were not recognized when I used those ports. I have a soldering lab that I'll be setting up again in a month or two, if you can provide

[2015-06-26 23:42] walshie4 commented on #19
@eedwardsdisco I'll be adding multi-monitor game support after the capture efficiency update.

As for the DirectX extension you're talking about, it has been replaced with the SlimDX one that 'Game Mode' triggers.  We may eventually go back to the injection based one however it is simply way too unstable to use currently.

**Edit:** After further investigation it seems multi-monitor game support i

[2015-06-27 21:50] #20 closed, assigned to nobody

[2015-06-27 21:50] #21 closed, assigned to nobody

[2015-06-30 17:26] supergregg opened #22 "Windows 10 Driver Issue"
Hi.
Im running the latest Windows 10 Build 10130, i know, i know its Beta and all but they will be releasing it quite soon and it would be nice to have it working for all who upgrade day 1.
Here are the issues I'm having:
Setup and Driver installs without problem, Glow is detected in device manager but the software does not recognize the Glow. I have solved the issue by forcing it to install the d

[2015-07-01 21:40] walshie4 commented on #22
Our embedded dev @pharada and I will be investigating the Windows 10 driver issue as that is certainly Windows 10 specific.

As for the white-balance I can't seem to reproduce the issue per your instructions (on Windows 7).  Are you referring to the second time opening the white-balance window or the app?

Finally the game mode capture can grab the desktop screen as well (although it is usually le

[2015-07-02 07:08] supergregg commented on #22
I'm not sure about the whitebalance. As Its a hassle to get things going, this might get solved if the driver issue gets solved. At least then I can test it more thoroughly.

[2015-07-02 13:07] jarnoburger opened #23 "The installer says to install into {default}"
Setup offers to install shortcuts into "{default}"..
I think you forgot to change the install path into something more representfull.
Minor bug..

[2015-07-03 12:19] eedwardsdisco opened #24 "Multi-Glow Support Broken"
0.2.9.0

With the removal of the advanced features button, I can no longer use both glows.

I have 2 glows attached to my second monitor. I used to be able to assign 1 glow to each half of the monitor.

The Mirror\Augment settings only activate the primary glow, and the 'set capture area' is only for the primary, as well.

Game mode activates both glows, but only works on the primary monitor, igno

[2015-07-03 12:46] jarnoburger opened #25 "Turn Off on Standby Issue"
The software does not turn off the glow when i place my pc in standby..
Making my room glow when i want to go to sleep..

[2015-07-03 17:07] walshie4 commented on #24
You still can.  When you click `Set Capture Area` it will open the first device's capture window and change to `Next Device`.  Clicking that will open the next devices mirror window.  When you close these the devices will resume their previous mode, or you can click one of the mirror mode buttons (other than game).  There is an issue when starting mirror mode which sometimes causes only one device

[2015-07-03 17:08] walshie4 commented on #23
This is simply saying that it will be installing the Antumbra shortcut into the start menu and not inside of a directory in the start menu.

[2015-07-03 17:19] walshie4 commented on #25
This feature has been implemented for quite some time.  What version of Windows are you running?  Working on Windows 7 with hibernate, lock and sleep.

[2015-07-03 17:30] #23 closed, assigned to walshie4

[2015-07-03 19:09] eedwardsdisco commented on #24
Oh wow, thank you! I definitely had not noticed that.

Looking forward to the Game Mode change. I'll go ahead and close this issue.

[2015-07-03 19:09] #24 closed, assigned to walshie4

[2015-07-04 13:15] scottt732 opened #26 "Multiple Glows, separate capture areas?"
0.2.7 had an Advanced feature which let me configure each glow independently (specifically the capture area).  The feature seems to be gone in recent builds.

I have 3x Glows behind 3 monitors.  I would like each device to respond to the contents of their own screen.  Recent versions synchronize all devices to what's on the center screen (in Augment mode).

Is the Advanced menu coming back?  If no

[2015-07-04 17:43] eedwardsdisco commented on #26
Hah! I had literally the same complaint yesterday after the update. See this issue along with solution from developer: https://github.com/TeamAntumbra/wintumbra/issues/24

Turns out we're bad at noticing the button change :)

[2015-07-04 17:47] eedwardsdisco commented on #22
@walshie4 Regarding process detection, what about saving a list of processes, or popping up a menu that lists processes and letting us choose one? ShiftWindow, NVidia Game Profiles, and RivaTuner are examples.

[2015-07-04 19:14] walshie4 commented on #22
@eedwardsdisco  This was the old process when game capture needed to inject into the game process, however it is no longer the choosing of the process that matters but rather the switch to game mode if you want to be able to capture any DirectX rendered content.    You can actually run game mode all the time and it will work, however it will probably have worse performance.

[2015-07-04 19:15] walshie4 commented on #26
:P I'll make this more apparent in a future release as it is very subtle for a much needed feature.

@scott732 The advanced menu _will_ be coming back soon.

[2015-07-04 19:17] #26 closed, assigned to nobody

[2015-07-07 13:48] khei opened #27 "Problem through an HDMI media amp? (Onkyo TX-NR626 in this case)"
Installed and sets up ok, has green light but not getting any response.

Main screen (ie. setup to run Win startmenu on) is a Sony 55 Smart LED-TV KD-55X8505BAE. Have different res in the dual screens; tv 1920x1080/pc:1376x768.

Using an Onkyo TX-NR626 connected from pc to "HDMI-PC in" and "HDMI-Main Out" to tv .

Can I expect it to work?

[2015-07-08 22:45] walshie4 commented on #27
As long as the computer which is serving the image has Glow plugged into it, yes.

[2015-07-22 05:29] glowglowflow opened #28 "Adjusting white balance causes black to no longer display as black"

[2015-07-22 05:32] glowglowflow opened #29 "Adjusting white balance only works 1st time"
Open program, adjust white balance, close window.

Open window, adjust white balance. Color no longer updates in real time. Toggle glow on/off and color then updates but not in real time.

[2015-07-24 20:08] eedwardsdisco commented on #19
@walshie4 Hi Adam, any updates on this issue? I haven't seen any new commits for a few weeks. Thanks.

[2015-07-24 20:29] walshie4 commented on #19
Still working on it don't worry.  :) I just haven't pushed to master in a while.  Should be wrapping up soon though!

[2015-08-02 00:20] walshie4 commented on #28
What are you seeing black show up as?

[2015-08-02 03:36] glowglowflow commented on #28
Example: Adjust white balance so there is more red in the mix. When screen is black glow is a deep red color.

[2015-08-21 15:40] eedwardsdisco commented on #19
Hey @walshie4 any updates on 'soon'? It's been four weeks :)

[2015-09-05 18:27] walshie4 commented on #27
Any news here?

[2015-09-05 18:36] walshie4 commented on #19
@eedwardsdisco All of the major codebase structural changes have been completed and a good deal of improvements have been implemented. I'll be posting a snapshot in a few hours for those who have been waiting so patiently to try out and give some feedback.

[2015-09-05 18:42] walshie4 commented on #29
This has been resolved in a few commits that will be a part of v1.0.0.  Mainly e575388b5c3208d673b07f00509c3fbb2f6a830f.

[2015-09-05 18:42] #29 closed, assigned to walshie4

[2015-09-05 22:25] walshie4 commented on #28
Resolved 0bb86c4e0878a201d14b8e4e51e6f4047a317d8f

[2015-09-05 22:25] #28 closed, assigned to walshie4

[2015-09-05 22:26] walshie4 commented on #22
Can you check if the build mentioned [here](https://www.reddit.com/r/antumbraglow/comments/3jrw76/v100_prerelease_testing/) still has the same problem?

[2015-09-05 22:28] walshie4 commented on #19
@eedwardsdisco Great news! The new release (v1.0.0) is almost complete, try it out [here](https://www.reddit.com/r/antumbraglow/comments/3jrw76/v100_prerelease_testing/).  Should be much more efficient and faster. :zap: :runner:  :zap:

[2015-09-05 22:28] #19 closed, assigned to walshie4

[2015-09-06 09:41] khei commented on #27
Got it working (by turning on /setting)

& sry for late reply, been away.

2015-09-05 20:27 GMT+02:00 Adam Walsh notifications@github.com:

[2015-09-06 17:41] walshie4 commented on #27
No problem, good to hear.

[2015-09-06 17:41] #27 closed, assigned to walshie4

[2015-12-13 23:13] batfasturd opened #30 "Multiple monitor issues"
Will the issue with multiple monitors ever be solved? I still have a non functional glow since launch because I have multiple monitors. I bought this for playing games late at night and it has yet to function for this purpose.

[2015-12-14 09:14] #30 closed, assigned to nobody

[2015-12-14 09:23] walshie4 commented on #22
Closing as stale, let me know if this issue persists.

[2015-12-14 09:23] #22 closed, assigned to walshie4

[2015-12-14 09:24] walshie4 commented on #25
Closing as stale, let me know if this issue persists.

[2015-12-14 09:24] #25 closed, assigned to walshie4

[2015-12-14 09:26] walshie4 commented on #30
Please let me know if this does not fix it.

[2015-12-14 18:31] batfasturd commented on #30
After spending an hour plus trying to get it to compile it did work. I tip my hat and extend many thanks to you good sir. My glow is now working with games and as intended. I shall post and sing of your name on the reddits and possibly upload the binary since I know I am not the only one with this issue.

[2015-12-14 18:33] walshie4 commented on #30
Should have linked to it previously, a binary is available https://github.com/TeamAntumbra/wintumbra/releases/tag/v1.0.0_RC3. Great to hear it's working! :)

[2015-12-14 18:35] batfasturd commented on #30
lol, well crap, that would have saved me some time but I am grateful nonetheless. Thanks again.

[2017-01-21 02:53] ghost opened #31 "Antumbra client not staying open"
I have the 2.9.1 client. It worked great until recently, when it started to close out soon after opening. I run the executable, the icon appears in the tray, and before it even starts mirroring or can bring up the client window, it closes itself. This persists between reinstallations. I can confirm that I get the green ready glow from the device.

[2017-01-24 17:24] walshie4 commented on #31
Try out https://github.com/TeamAntumbra/wintumbra/releases/tag/v1.0.0_RC3

[2017-01-24 21:00] ghost commented on #31
The software no longer quits on its own, but it's also not controlling the
glow. All I get is a steady green ready light.

On Tue, Jan 24, 2017 at 11:24 AM, Adam Walsh <notifications@github.com>
wrote:

[2017-02-22 22:21] ghost commented on #31
Still having problems with the software not controlling the glow. Also
appears to be missing game-compatible mode.

On Tue, Jan 24, 2017 at 2:58 PM, Jeremy Loveday <cosmicjoker42@gmail.com>
wrote:

[2017-02-22 22:56] walshie4 commented on #31
I'll be re-setting up my bootcamp situation and be taking a look this evening 👍

Sorry for the delay.

[2017-02-23 22:56] ghost commented on #31
If it helps, I was uninstalling a bunch of old C++ redistributables a
couple days before I saw the original problem. Are there any log files I
could grab for you?

On Wed, Feb 22, 2017 at 4:56 PM, Adam Walsh <notifications@github.com>
wrote:

[2017-02-23 23:17] walshie4 commented on #31
Yeah there should be one inside your AppData directory.  It will be nested like so `AppData/Antumbra/wintumbra.log`

[2017-02-24 01:30] ghost commented on #31
Here you go.

On Thu, Feb 23, 2017 at 5:17 PM, Adam Walsh <notifications@github.com>
wrote:

[2017-02-24 07:01] walshie4 commented on #31
I imagine you attached that to the email, can you upload it here instead? I don't have email notifications turned on.

[2017-02-24 15:06] ghost commented on #31
[wintumbra.txt](https://github.com/TeamAntumbra/wintumbra/files/799668/wintumbra.txt)

[2017-03-07 18:52] walshie4 commented on #31
Try out the new release (https://github.com/TeamAntumbra/wintumbra/releases/tag/v1.0.0) and let me know if the issue persists

[2017-03-07 19:12] ghost commented on #31
There appears to be no change. Here's the log file.
[wintumbra.txt](https://github.com/TeamAntumbra/wintumbra/files/825500/wintumbra.txt)

[2017-06-17 17:58] ghost commented on #31
I recently upgraded to windows 10, and this seems to have fixed whatever
issue was preventing operation. Thanks again for making such an awesome
product!

On Tue, Mar 7, 2017 at 12:52 PM, Adam Walsh <notifications@github.com>
wrote:

[2017-06-17 20:41] walshie4 commented on #31
Glad you got it resolved! Sorry I couldn't have helped more.  I'm hoping to do some polishing of the loading / initialization process in the near future.

[2017-06-17 20:41] #31 closed, assigned to nobody

[2018-01-05 22:39] glowglowflow opened #32 "Exception While Starting"
Clean install of windows 10 and after installing wintumbra I'm getting an "Exception loading extensions, Key not found: extension.glow.extensionframework.glowextension"

Hmm, worked before I did a clean install of windows.

[2018-01-05 23:36] walshie4 commented on #32
please include the log file found in `AppData/Antumbra/wintumbra.log`

[2018-01-05 23:41] glowglowflow commented on #32
Good to hear from you, hope all is well.
[wintumbra.log](https://github.com/TeamAntumbra/wintumbra/files/1608221/wintumbra.log)

[2018-01-07 20:55] walshie4 commented on #32
Good to see people are still using Glow :)

From your log it looks like you don't have the SlimDX supporting package installed.  It should be installed when you run the Glow installer though.

It looks like I may need to update the installer, may have gotten lost in an update shuffle.  For now you can get what you need by installing the `End User Runtime` for SlimDX from here https://slimdx.org/do

[2018-01-07 21:16] glowglowflow commented on #32
Well I just came back to it today, and it launched without me installing anything different. Everything seems to be working correctly now. Windows did do an update during one of the shutdowns in the past couple days, perhaps it sorted itself out. Here's a new log
[wintumbra.log](https://github.com/TeamAntumbra/wintumbra/files/1610201/wintumbra.log)

[2018-01-07 21:16] #32 closed, assigned to nobody

[2018-01-07 21:18] walshie4 commented on #32
🤷‍♂️  good to hear!

[2020-11-28 07:31] xDeeKay opened #33 "Mirror and Argument Buttons Cause Audio Static"
Hello, it looks like there hasn't been much activity here until now, so I hope this reaches somebody.

I've just built a new computer with a fresh Windows 10 install, audio drivers, Glow, etc. It's probably important to note that I use a Focusrite Scarlett Solo first gen audio interface and the drivers associated with it.

My issue occurs when I click on either the "Mirror" or "Argument" buttons t

[2021-01-04 02:38] walshie4 commented on #33
Still looking around for more info on this, but found two links you may be interested in looking more into:
* https://obsproject.com/forum/threads/distortion-with-focusrite-scarlett-audio-interface.61400/
* https://www.gearslutz.com/board/geekslutz-forum/975639-focusrite-scarlett-solo-static-noise.html

Mirror and Augment use graphics processing to do their jobs so I'd guess that is where the issu

[2021-01-06 17:43] xDeeKay commented on #33
Hey walshie, thanks for looking into this for me.

In the time since I posted this, the problem appears to have resolved itself for whatever reason.
The part you mentioned about graphics processing has me thinking it was as simple as a driver update on the GPU end.

Closing the ticket anyway, cheers.

[2021-01-06 17:43] #33 closed, assigned to nobody